@import url("nullstyle.css");
body {
	height: 100vh;
	width: 100vw;

	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(135deg, #000 0%, #333 48%, #686868 100%);
	background-size: cover;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.video__player {
	width: 60%;
	max-height: 500px;
	padding: 40px 0px;
	background: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}
.video__container {
	aspect-ratio: 16 / 9;
	width: 100%;
}
.video__container video {
	width: 100%;
}

/******************************VIDEO-PROGREES-BAR*****************************************/

.video-progress {
	position: relative;
	display: flex;
	width: 100%;
	height: 5px;
	transition: all 0.3s ease 0s;
	background: rgb(0, 0, 0, 0.4);
	cursor: pointer;
	margin-bottom: 8px;
}
.video__player:hover .video-progress {
	height: 20px;
}
.video-progress-filled {
	width: 0%;
	background: orange;
	transition: all 0.3s ease 0s;
}

/******************************CONTROLS*****************************************/
.video__controlls {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 40px;
	padding-bottom: 10px;
	transform: translateY(100%) translateY(-4px);
	transition: all 0.3s ease 0s;
	background: rgb(0, 0, 0, 0.4);
	line-height: normal;
}
.video__player:hover .video__controlls {
	transform: translateY(0) translateY(0px);
	transition: all 0.3s ease 0s;
}
/***********************************SVG**********************************************/
.svg-container {
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.svg {
	height: 100%;
	width: 100%;
}
.svg img {
	height: 100%;
	width: 100%;
}
button {
	background: transparent;
}

/******************************CONTROLS-LEFT*****************************************/
.controls-left {
	flex: 0 0 50%;
	display: flex;
	flex-wrap: wrap;

	margin-left: 20px;
}
/**PLAY**/
.play-b {
	margin-left: 20px;
}
.play {
}
/**NEXT**/
.next-b {
	margin: 0px 20px;
}
.next {
}
/**SOUND**/
.sound__container {
	display: flex;
	position: relative;
}
.sound-b {
	margin-right: 10px;
}
.sound-b img {
	width: 120%;
	height: 120%;
}
.volume__bar-container {
	width: 0px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease 0s;
}
/**SOUND-BAR**/
.volume-bar {
	transition: all 0.3s ease 0s;
}
.volume-bar:hover {
	transition: all 0.3s ease 0s;
}

input[type="range"] {
	overflow: hidden;
	width: 90%;
	-webkit-appearance: none;
	background-color: rgb(207, 207, 207);
}

input[type="range"]::-webkit-slider-runnable-track {
	height: 8px;
	-webkit-appearance: none;
	color: #13bba4;
}

input[type="range"]::-webkit-slider-thumb {
	width: 10px;
	-webkit-appearance: none;
	height: 10px;

	cursor: pointer;
	background: rgb(67, 67, 67);
	box-shadow: -80px 0 0 80px #43e5f7;
}

input[type="range"]::-moz-range-progress {
	background-color: #43e5f7;
}

input[type="range"]::-moz-range-track {
	background-color: #9a905d;
}

input[type="range"]::-ms-fill-lower {
	background-color: #43e5f7;
}

input[type="range"]::-ms-fill-upper {
	background-color: #9a905d;
}

/**DURATION**/
.time__container {
	display: flex;
	align-items: center;
	color: rgb(207, 207, 207);
	font-size: 20px;
	padding: 0px 5px;
}
.current-time {
}
.breaker {
	padding: 0px 5px;
}
.total-duration {
}
